%h1
	= @movie.title

%hr
%p
	= image_tag @poster
%p
	= @movie.tagline
	%br
	= @movie.overview
	%br
		%b
			= t 'movie.runtime'
		= @movie.runtime
		= t 'movie.duration_unit'
%p
	- @cast_list.each do |actor|
		- path = Settings.tmdb.base_url + "/" + Settings.tmdb.poster.size.tile 
		- if actor.profile_path
			= image_tag path + actor.profile_path
		= actor.name

%p
