.center.container
	.row
		.span12
			%h1
				= @movie.title
	.row
		.span4
			= image_tag @poster
		.span8
			%p
				= @movie.tagline
			%p
				= @movie.overview
			%br
				%b
					= t 'movie.runtime'
					= @movie.runtime
					= t 'movie.duration_unit'
	.row
		.span12
			%h2
				=t('views.movies.show.cast-title')
			%p
				#actors
					=render "common/carousel",  {tiles: @cast_list, data_lazy_load: "", link: '#' }
	.row
		.span12
			%h2
				=t('views.movies.show.similar-movies-title')
			%p
				#similar
					=render "common/carousel", {tiles: @movie_list, data_lazy_load: "", link: 'movies' }

