%h1
	= @movie.title

%hr
%p
	= image_tag @poster
%p
	= @movie.tagline
	%br
	= @movie.overview
	%br
		%b
			= t 'movie.runtime'
		= @movie.runtime
		= t 'movie.duration_unit'
%p
	#actors
		%p
			%a{:class => 'prev'}
				<
		.carousel
			%ul
				- @cast_list.each do |actor|
					- if actor.profile_path
						- path = Settings.tmdb.base_url + "/" + Settings.tmdb.poster.size.tile + actor.profile_path
						%li
							= image_tag path, :alt => actor.name 
		%p
			%a{:class => 'next'}
				>
	.clear
%p

