.navbar.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:target => '.navbar-inverse-collapse', :toggle => 'collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse.collapse.navbar-inverse-collapse
        %ul.nav
          %li.active
            = link_to "Home", main_app.homepage_path
          %li
            = link_to "Help", "#"
        .search-bar
          %ul.nav
            %li
              = "Search"
            %li
              = form_tag(main_app.movies_find_path, method: 'GET', class: 'search-form') do
                = text_field_tag 'title', '', class: 'search-box', 'aria-label' => 'Search'